# Environments
.venv/
venv/
ENV/
env/
bin/
lib/
include/

# Data Folders (CT scans are large!)
data/
datasets/
raw_data/
processed_data/
*.nii
*.nii.gz
*.dcm
*.dicom

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Operating System files
.DS_Store
Thumbs.db